.gallery {
    height: 300px;
    width: 300px;
}

h1 {
text-align: center;
font-family: fantasy;
color: #8904B1;
}

body {
  background-color: #F5A9F2;
  margin: 0;
  padding: 0;
}

#wrapper {
  background-color: white;
  width: 960px;
  height: auto;
  border-left: 5px solid #F781D8;
  border-right: 5px solid #F781D8;
  padding: 10px;
  overflow: auto;
  margin: 0 auto;
}

#header {
  width: 1000;
  height: 1000;
  border-bottom: 3px solid #F5A9F2;
}

#logo {
  height: 5;
  width: 5;
}

#menu {

  margin: 0;
  padding: 0;
}

#navbar {
  list-style-type: none;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 106px;
  text-decoration: none;

}


li a:hover {
  background-color: #BF00FF;
}

p {
  font-size: 20px;
  margin: 20px;
  font-family: Century Gothic;
}

ul {
  list-style: square;
  list-style-type: none;
}

#about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 350px;
  padding-bottom: 20px;
  width: 600px;
}

h1 {
  font-size: 60px;
  font-family: Century Gothic;
  font-weight: lighter;
  color: #FA58D0;
}

#footer {
  width: 1329px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #FFCCCC;
  height: 25px;
  padding: 10px 10px 10px 10px;
  line-height: 145%;
  font-size: 11px;
  color: #BF00FF;

}

#equation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 500px;
}

#contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 500px;
  padding-bottom: 20px;

}

.contact {
  font-size: 30px;
  font-family: Century Gothic;
  color: #FA58D0;
}
